extends layout 

block titre_page 
    title créer un profil utilisateur

block contenu_page
    h1 créer un profil utilisateur 
    .row 
        form(action="#")
            .input-field 
                input(type="text" name="email" id="email")
                label(for="email") votre email 
            .input-field 
                input(type="text" name="password" id="password")
                label(for="password") votre password 
            input(type="submit" class="waves-effect waves-light btn purple darken-1 submit-btn")
