nav 
    .nav-wrapper
        .brand-logo.left Jour1 
        ul.left
            li: a(href="/home") Accueil
            li: a(href="/add-user") Créer profil
        ul.right 
            li: a(href="/connexion") Connexion