nav 
    .nav-wrapper.blue.darken-3
        .brand-logo.left Jour1 
        ul.left
            li: a(href="/home") Accueil
            if session != undefined
                li: a(href="/add-user") Créer profil
        ul.right 
            if session == undefined
                li: a(href="/connexion") Connexion
            if session != undefined
                li: a(href="/admin") Admin
                li: a(href="/deconnexion").deconnexion Déconnexion
                script. 
                    document.querySelector(".deconnexion").addEventListener("click", e => {
                        e.preventDefault()
                        const req = new XMLHttpRequest()
                        req.open("GET","/delete-cookie");
                        req.send()
                        req.onload = () => {
                            if(req.status === 200){
                                console.log(req.responseText)
                                window.location.href = "/connexion";
                            }
                        }
                    })