.container{
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    min-height: calc(100vh - 40px);
}
section{
    border: 2px solid #555; border-radius: 5px;
}
form{
    display: grid; grid-gap: 8px;
}
input[type="text"]{
    padding: 8px 5px; border-radius: 5px
}
input[type="submit"]{
    background: #77E4D4; /*https://colorhunt.co/ site de palette de couleur*/
    border-radius: 5px;border:none;
    padding: 8px 5px; cursor: pointer;
}